<h1>Recommended Items</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
